<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Todo List</title>
</head>
<body>
    <div class="container">
        <div class="box" id="heading">
            <h1> <%= listTitle %></h1>
        </div>
        <div class="box">          
               <% for(var i =0; i < newItem.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItem[i] %></p>
                </div>
                <%} %>
                <form action="/" method="post">
                    <input type="text" name="todoItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                </form>
        </div>
        <div class="footer">
            <i>Copyright@2023 Tanvir Badsha.</i>
        </div>
    </div>
</body>
</html>